!!!
%html
	%head
		%title Tweetbloglove
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= favicon_link_tag 'favicon.ico'
	%body
		.container.top-100px
			= render 'layouts/nav'
			= render 'layouts/flash'
		.container
			= yield
